<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/user_sign_in">Sign in!</a></li>
    <li class="breadcrumb-item active" aria-current="page">My Page</li>
    <li class="breadcrumb-item"><a href="/user_sign_out">Sign Out!</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= session.fetch( :user_username) %></li>
  </ol>
</nav>
<h1>My Courses</h1>

<table border="1">
  <tr>
    <th>
      Course Name
    </th>

    <th>
      Course Code
    </th>

    <th>
      Requirement
    </th>

    <th>
      Grade
    </th>

    <th></th>
  </tr>

  <% @courses.each do |course| %>
  <tr>
    <td>
      <%= course.course_name %>
    </td>

    <td>
      <%= course.course_code %>
    </td>

    <td>
      <%= course.requirement %>
    </td>

    <td>
      <%= course.grade %>
    </td>
    
    <td>
      <a href="/courses/<%= course.id %>">
        Show details
      </a>
    </td>
  </tr>
  
  <% end %>
</table>