
<h1><%= @user.username.capitalize %></h1>


<table border="1">
  <tr>
    <th>
      Course Name
    </th>

    <th>
      Course Code
    </th>

    <th>
      Requirement
    </th>

    <th>
      Grade
    </th>

    <th></th>
  </tr>

  <% @user.own_courses.each do |course| %>
  <tr>
    <td>
      <%= course.course_name %>
    </td>

    <td>
      <%= course.course_code %>
    </td>

    <td>
      <%= course.requirement %>
    </td>
    <td>
      <%= course.grade %>
    </td>

    <td>
      <a href="/courses/<%= course.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

<dl>
  <dt><b>Cumlative GPA: </b><%= @user.own_courses.average(:grade).to_s.to_f.round(4) %></dt> 
</dl>

<dl>
  <dt><em>
    <a href="/new_course">Add a Course!</a>
  </dt></em>
</dl>

<dl>
  <b>Profile</b>

  <dt>ID</dt>
  <dd><%= @user.id %></dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/<%= @user.id %>" >
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="<%= @user.username %>">

      <button>Update user</button>
    </form>
  </dd>

  <dt>Delete Account</dt>
  <dd>
    <a href="/delete_user/<%= @user.id %>;">
      Delete this account
    </a>
  </dd>
</dl>
