<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/user_sign_in">Sign in!</a></li>
    <li class="breadcrumb-item"><a href="/login_confirmation">My Page</a></li>
    <li class="breadcrumb-item"><a href="/user_sign_out">Sign Out!</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= session.fetch( :user_username) %></li>
  </ol>
</nav>

<h1>Course Details</h1>

<dl>
  <dt>
    <b>Course</b>
  </dt>
    <dd>
      <%= @course.course_name %>
    </dd>
  <dt>
    <b>Course Code</b>
  </dt>
    <dd>
      <%=  @course.course_code %>
    </dd>
  <dt>
    <b>Requirement</b>
  </dt>
    <dd>
      <%=  @course.requirement %>
    </dd>
  <dt>
    <b>Grade</b>
  </dt>
    <dd>
      <%=  @course.grade %>
    </dd>
</dl>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>

<h3>Edit Course Information</h3>
<form action="/update_course/<%= @course.id %>">
  <label for="browser_name">Course Name:</label>
  <input id="browser_name" type="text" name="input_course_name" placeholder="Enter the course name!" value="<%= @course.course_name %>">

  <label for="browser_code">Course Code:</label>
  <input id="browser_code" type="text" name="input_course_code" placeholder="Enter the course code!" value="<%= @course.course_code %>">
  
  <label for="browser_requirement">Requirement:</label>
  <input id="browser_requirement" type="text" name="input_course_requirement" placeholder="Major, Core, Elective, ect" value="<%= @course.requirement %>">

  <label for="browser_grade">Grade:</label>
  <input id="browser_grade" type="password" name="input_course_grade" placeholder="Use 4.0 format, e.g. 3.7" value="<%= @course.grade %>">


  <button <button type="submit" class="btn btn-primary">Update course!</button>
</form>

  <h3>Delete Course Information</h3>
  <dd>
    <form action="/delete_course/<%= @course.id %>;">
      <input type="submit" class="btn btn-danger" value="Delete" />
    </form>
  </dd>


  <h3>Add Another Course</h3>
  <dd>
    <a href="/new_course">
      Click here to add another course
    </a>
  </dd>
</dl>


<footer>
  <dl>
  <dd>  <dd>
  
  </dl>
    <nav class="navbar navbar-expand-lg sticky-bottom navbar-light" style="background-color: #e3f2fd;">
      <a>&copy; Nagler Productions 2020</a>
    </nav>
  </footer>