<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
      <!--<ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/user_sign_out">Sign out!</a>
        </li>
        <li>
          <a href="/login_confirmation">My page!</a>
        </li>
        <li>
          <%= session.fetch( :user_username) %>
        </li>

      </ul> -->

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if notice.present? %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>

  
</html>
